/* 
.toggle-button {
    padding: 10px 20px;
    border-radius: 1px;
    border: 0.5px solid black;
    cursor: pointer;
  }
  
  .toggle-button.active {
    background-color: green;
    color: white;
  }
   */