.container_page_notifications {
    position: absolute;
    top: 20%;
    left: 27%;
    z-index: 1;
}

.notification-dropdown {
    position: relative;
    top: 110%;
    right: 10%;
    background-color: var(--glass); 
    border: 1px solid var(--gray); 
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: var(--boxShadow); 
    width: 70vw; 
    max-height: 85vh;
    margin-top: 2%;
  }
  
  .notification-options {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: #fff; 
  }
  
  .notification-option {
    flex: 1 0 20%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 20px;
    cursor: pointer;
    color: var(--black);
    transition: background-color 0.3s ease;
    border-right: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    font-weight: bold;
  }
  
  .notification-option:last-child {
    border-right: none; 
  }
  
  .notification-option:hover {
    background: #ce81a454;
  }
  .notification-option.active {
    background-color: #cb468254;  
  
  }
  
  .notification-content {
    padding: 0px;
  }

.heading_notification {
    font-size: 24px;
    /* Kích cỡ chữ to hơn */
    font-weight: bold;
    /* Chữ in đậm */
    position: absolute;
    left: -10%;
    margin-top: -6.8%;
}