.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.loca-heading .search-section {
    margin-left: auto;
    max-width: 50%;
    background: linear-gradient(#c841b6);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.table-section {
    margin-left: auto;
    max-width: 100%;
    margin-top: 20px;
    overflow-x: auto;
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(135deg, #fed9d9, #ffdfdf);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

table th {
    background: #b44b7754;
    color: black;
    font-size: 20px; /* Adjusted font size */
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.heading {
    font-size: 24px;
    font-weight: bold;
}

.note-heading {
    font-size: 12px;
    opacity: 0.5;
}

.placeholder {
    opacity: 0.1;
}

.Quantity {
    max-width: 100%;
    margin-left: auto;
}

.container_page {
    position: absolute;
    top: 10%;
    left: 20%;
}

.search-section {
    max-width: 100%;
    background: linear-gradient(135deg, #ffcece, #ffdfdf);
    color: #eb7a7a;
    padding: 20px;
    border-radius: 0px;
}

.search-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    padding: 15px;
    background: #e87297;
    border-radius: 6px; /* Thêm bo góc */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: flex-start; /* Canh trái tất cả phần tử trừ nút search */
    position: relative;
}


.search-container input {
    padding: 10px;
    border-radius: 0; 
    border: 1px solid #ccc;
    font-size: 16px;
}

.btn-search {
    background-color: #af2d6e; /* Màu nền */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px; /* Bo góc cho nút */
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: absolute; 
    right: 15px; 
    top: 50%; 
    transform: translateY(-50%);
}

.btn-search:hover {
    background-color: #e83e3e; 
    transform: translateY(-45%);
}

.heading {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.note-heading {
    font-size: 14px;
    opacity: 0.8;
    color: #666;

}

select {
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #adaaaa;
    width: auto;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
}

select option {
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
    color: #333;
}

select option:hover {
    background-color: #e992bc;
}
